
.body_table {
    width: 100%;
}

.flashes ul,
.flashes li {
    list-style-type:none;
}

.flashes {
    padding: 10px;
    padding-left: 50px;

    
}

.warning {
    color: #ff9999;
}

.success {
    color: #9fdfbe;
}
