<h2>User {{the_user.lastname}},{{the_user.firstname}} ({{the_user.username}}) attempted to log in to
    the {{ g.app_name }} system for the first time.</h2>

<p>
You are receiving this e-mail because you are an administrator for {{ g.app_name }} user access.
This user successfully entered their credentials, but you need to <a href='{{
g.app_url }}'>log in to the {{ g.app_name }} system</a> to approve their account before they 
can use the system.
</p>


<p>
Please do not reply to this email.
</p>
